@using DesignBureauWebApplication.ViewModels;
@model OrderViewModel


<h1>Новый заказ</h1>
<hr />

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="ContractNumber">Номер контракта</label>
        <input asp-for="ContractNumber" class="form-control" />
        <span asp-validation-for="ContractNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupplierId">Поставщик</label>
        <select asp-for="SupplierId" asp-items="@Model.SupplierList" class="form-control"></select>
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>
    @Html.ActionLink("←Назад", "Index", new{ }, new { @class = "btn btn-secondary" })
    <button type="submit" class="btn btn-primary">Сохранить</button>
    @Html.ActionLink("К составу заказа→", "Create", "OrderItem", new{ id=Model.OrderId }, new { @class = "btn btn-secondary" })
</form>