@using DesignBureauWebApplication.ViewModels;
@model WorkViewModel

<h2>Редактировать работу</h2>
<hr />

<form method="post" asp-action="Edit">
    <input type="hidden" value="WorkId" id="WorkId" />
    <div class="form-group">
        <label asp-for="WorkDictionaryId">Работа</label>
        <select asp-for="WorkDictionaryId" asp-items="@Model.WorkDictionaryList" class="form-control"></select>
        <span asp-validation-for="WorkDictionaryId" class="text-danger"></span>
    </div>
@*    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
*@    <div class="form-group">
        <label asp-for="ProjectId">Проект</label>
        <input value="@Model.Project?.ProjectTitle" class="form-control" readonly />
        <span asp-validation-for="ProjectId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlanStartDate">Начало</label>
        <input asp-for="PlanStartDate" class="form-control" />
        <span asp-validation-for="PlanStartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlanOverDate">Окончание</label>
        <input asp-for="PlanOverDate" class="form-control" />
        <span asp-validation-for="PlanOverDate" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ProjectId" />
    @Html.ActionLink("←Назад", "Details", "Project", new{ id = Model.ProjectId }, new { @class = "btn btn-secondary" })
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>